body {
/* got image from https://steamcommunity.com/sharedfiles/filedetails/?id=844946240 */
  background-image: url('ESCAPEbackground.jpg');
  text-align: center;


}
.title {
  font-family: 'Bungee Shade', cursive;
  font-size: 10em;
  text-shadow: -5px 5px 50px #efb03b;
  color: #ed9711;
  top: 140px;
  text-align: center;
  position: relative;
  animation-name: dropDown;
  animation-duration: 2s;
}

button {
  width: 200px;
  height: 65px;
  position: absolute;
  left: 700px;
  border-radius: 10px;
  border: #1f1915;
  font-family: 'bungee', cursive;
  font-size: 2em;
  color: #1f1915;
  box-shadow: 0px 0px 50px 0px #efb03b;
  background: #ed9728;
}

button:focus {
  ;
}

button:hover {
  box-shadow: 0px 0px 50px 10px #efb03b;
}

#start {
  top: 425px;
  animation-name: enterRight;
  animation-duration: 2s;
}

#tutorial {
  top: 550px;
  animation-name: enterLeft;
  animation-duration: 2s;
  display: none;
}

#no {
  display: none;
  top: 400px;
  left: 850px;

}

#yes {
  display: none;
  top: 400px;
  left: 550px;
}

@keyframes dropDown {
  0% {
    transform: translateY(-400px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes enterLeft {
  0% {
    transform: translateX(-1100px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes enterRight {
  0% {
    transform: translateX(1100px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* lose state */
.tryAgain {
  font-family: 'Bungee Shade', cursive;
  font-size: 10em;
  text-shadow: -5px 5px 50px #efb03b;
  color: #ed9711;
  top: 140px;
  width: 100%;
  text-align: center;
  position: absolute;
  display: none;
}

/* player related css */
.player {
  height: 100px;
  width: 50px;
  position: absolute;
  top: 700px;
  left: 800px;
  background: #ed9711;
  display: none;
  /* transition: all 0.05s ease-in; */

}

/* smashy blocks */
.blocks {
  background: #ed9711;
  box-shadow: 0px 0px 50px 10px #efb03b;
  height: 30px;
  width: 400px;
  position: absolute;
  left: 640px;
}
